version: "3"
services:
  reverseproxy:
    build:
      context: ./udagram-reverseproxy
    image: $DOCKER_USERNAME/udagram-reverseproxy:$TAG
  backend_user:
    build:
      context: ./udagram-api-user
    image: $DOCKER_USERNAME/udagram-api-user:$TAG
  backend_feed:
    build:
      context: ./udagram-api-feed
    image: $DOCKER_USERNAME/udagram-api-feed:$TAG
  frontend:
    build:
      context: ./udagram-frontend
    image: $DOCKER_USERNAME/udagram-frontend:$TAG